<!DOCTYPE html>
<html>
<head>
	<title>Google</title>
</head>
<link rel="stylesheet" type="text/css" href="googlepage.css">
<body>
	<div id="container">
		<div id="header"> 
			<div id="header1">
			<a href="#">Gmail </a> 
			<a href="#"> Images</a> 
			</div>
			<div id="header2">
			<%=image_tag 'googlebutton.png'%>
			<button id="button1"><strong>Connexion</strong></button>
			</div>
		</div>
		<div id="center">
			<div id="logo">
			 <%=image_tag 'googlelogo2.png'%>
			</div>
			<div id="navbar"><input type="text" name="search">
			</div>
			<div ><button class="buttons"><strong>Recherche Google</strong></button>&nbsp;&nbsp;<button class="buttons"><strong>J'ai de la chance</strong></button>
			</div>
		</div>
		<div id="footer">
			<div id="footerleft"><a href="#">Publicité</a><a href="#">Entreprise</a><a href="#">A propos</a>  			
			</div>
			<div id="footerright">
				<a href="#">Info consommateurs</a>
				<a href="#">Confidentialité</a>
				<a href="#">Conditions</a>
				<a href="#">Paramètres</a>
			</div>
		</div>
	</div>

</body>
</html>